.menu{
    background-color: #0e0d0d;
    display: flex; 
    list-style:none;
}
.item-menu{
    color:#ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: opacity 1.3s;
}
.item-menu:hover { /*opacity: 0.7;  */
background-color: #333333;

}



.link-item-menu{
    color:#ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 40px;
}

